<section class="content-header">
    <div class="col-lg-12">
        <ul class="list-group">
            <li class="list-group-item list-group-title" id="lblPath_ChucNang">
                <a onclick="" class="list-group-a"><span class="fa fa-home"></span> Bảng điều khiển</a>
                <span class="sub-path opacity-5"> / Quản lý người dùng</span>
                <a style="float:right; cursor: pointer" data-toggle="popover" data-placement="left" title="Help" data-content="intro.user"><i class="fa fa-question-circle fa-customer"></i></a>
            </li>
        </ul>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row ">
        <!-- /.left-content -->
        <div class="col-lg-3">
            <div class="box box-solid">
                <div class="box-body">
                    <!-- Bộ tìm kiếm -->
                    <div class="bs-item input-group">
                        <input type="text" id="txtSearch_NghiHuu_TuKhoa" class="form-control" placeholder="Nhập từ khóa tìm kiếm">
                        <span class="input-group-addon poiter btnExtend_Search" title="Kéo xuống">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title" title="">
                        <i class="fa fa-hdd-o"></i> Danh sách người dùng
                        <span class="badge bg-light-blue">
                            <span id="lblTotal_User">0</span>
                        </span>
                    </h3>
                </div>
                <div class="box-body">
                    <table id="tblUser" class="table table-hover">
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.right-content -->
        <div class="col-lg-9">
            <!-- box Thong tin co ban -->
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-info"></i> <a name="zoneViewUser">Thông tin người dùng</a>
                    </h3>
                    <div class="pull-right">
                        <a class="btn btn-primary poiter" id="btnCallModal"><i class="fa fa-plus"></i> Thêm</a>
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-sm-12">
                        <div class="box box-solid">
                            <div class="box-body">
                                <div class="col-sm-12 box-view">
                                    <!-- Row Thong tin co ban -->
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <img src="./images/user.png" style="width:70%; height:70%">
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="row sub-row">
                                                <div class="col-sm-2">
                                                    <div class="title-name">
                                                        1) Họ tên:
                                                    </div>
                                                </div>
                                                <div class="col-sm-10">
                                                    <span class="bold cl-active" id="lblUser_Name"></span>
                                                </div>
                                            </div>
            
                                            <div class="row sub-row">
                                                <div class="col-sm-2">
                                                    <div class="title-name">
                                                        2) Địa chỉ:
                                                    </div>
                                                </div>
                                                <div class="col-sm-10">
                                                    <span id="lblUser_Address"></span>
                                                </div>
                                            </div>
            
                                            <div class="row sub-row">
                                                <div class="col-sm-2">
                                                    <div class="title-name">
                                                        3) Email:
                                                    </div>
                                                </div>
                                                <div class="col-sm-10">
                                                    <span id="lblUser_Email"></span>
                                                </div>
                                            </div>
                                            <div class="row sub-row">
                                                <div class="col-sm-2">
                                                    <div class="title-name">
                                                        4) Điện thoại:
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <span id="lblUser_Phone"></span>
                                                </div>
                                                <div class="col-sm-2">
                                                <div class="title-name">
                                                    5) Tình trạng:
                                                </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <span id="lblUser_Status"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer" id="zoneAction_User">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="myModal_User" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel"><span class="lang" key="">--</span></h4>
                </div>
                <div class="modal-body" style="">
                    <!--row 1-->
                    <div class="row">
                        <div class="col-sm-3">
                            <label style="font-weight: normal"><span class="lang" key="">Họ tên</span></label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" id="txtUser_Name" class="form-control" />
                        </div>
                    </div>
                    <!--row 2-->
                    <div class="row">
                        <div class="col-sm-3">
                            <label style="font-weight: normal"><span class="lang" key="">Email</span></label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" id="txtUser_Email" class="form-control" />
                        </div>
                    </div>
                    <!--row 3-->
                    <div class="row">
                        <div class="col-sm-3">
                            <label style="font-weight: normal"><span class="lang" key="">Tài khoản</span></label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" id="txtUser_Username" class="form-control" />
                        </div>
                    </div>
                    <!--row 4-->
                    <div class="row">
                        <div class="col-sm-3">
                            <label style="font-weight: normal"><span class="lang" key="">Mật khẩu</span></label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" id="txtUser_Password" class="form-control" />
                        </div>
                    </div>
                    <!--row 5-->
                    <div class="row">
                        <div class="col-sm-3">
                            <label style="font-weight: normal"><span class="lang" key="">Điện thoại</span></label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" id="txtUser_Phone" class="form-control" />
                        </div>
                    </div>
                    <!--row 6-->
                    <div class="row">
                        <div class="col-sm-3">
                            <label style="font-weight: normal"><span class="lang" key="">Địa chỉ</span></label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" id="txtUser_Address" class="form-control" />
                        </div>
                    </div>
                    <!--row 7-->
                    <div class="row">
                            <div class="col-sm-3">
                                <label style="font-weight: normal"><span class="lang" key="">Hình ảnh</span></label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" id="txtUser_Avatar" class="form-control" />
                            </div>
                        </div>
                </div>
                <div id="notify"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times-circle"></i><span class="lang" key=""> Đóng</span></button>
                    <a class="submit btn btn-primary" id="btnSave_User"><i class="fa fa-save"></i><span class="lang" key=""> Lưu</span></a>
                </div>
            </div>
        </div>
    </div>
<!-- page script -->
<script src="./js/process/user.js?v=1.0.0.0"></script>
<script type="text/javascript">
    var main_doc = {};
    main_doc['User'] = new User();
    $(document).ready(function () {
        main_doc.User.init();
    });
</script>