<aside class="main-sidebar">
    <section class="sidebar"><!-- sidebar: style can be found in sidebar.less -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" id="txtSearch_Fun" class="form-control" placeholder="Tìm kiếm chức năng">
                <span class="input-group-btn"><button name="search" class="btn btn-flat"><i class="fa fa-search"></i></button></span>
            </div>
        </form>
        <ul class="sidebar-menu" data-widget="tree" >
            <!--Load js from ../Core/systemextend/getlist_ChucNang() id="menu_vertical"-->
            <!--Tab jstree -->
            <li class="treeview">
                <a id="cat_device" href="">
                    <i class="fa fa-folder-o"></i> <span>Phân loại thiết bị</span>
                </a>
            </li>
            <li class="treeview">
                <a id="device" href="">
                    <i class="fa fa-compass"></i> <span>Quản lý thiết bị</span>
                </a>
            </li>
            <li class="treeview">
                <a id="user" href="">
                    <i class="fa fa-users"></i> <span>Quản lý người dùng</span>
                </a>
            </li>
            <li class="treeview">
                <a id="action" href="">
                    <i class="fa fa-angle-double-right"></i> <span>Định nghĩa hoạt cảnh</span>
                </a>
            </li>
            <li class="treeview">
                <a id="action_device" href="">
                    <i class="fa fa-angle-double-right"></i> <span>Quản lý hoạt cảnh</span>
                </a>
            </li>

            <li class="treeview">
                <a id="check_connect" href="">
                    <i class="fa fa-bolt"></i> <span>Kiểm tra kết nối</span>
                </a>
            </li>
        </ul>
    </section>
</aside>