<header class="main-header">
    <a title="Quản trị hệ thống" onclick="eduroot.systemroot.initMain('#user','user')" href="#user" class="logo"> <!-- Logo -->
        <span class="logo-mini">IOT</span><!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-lg">IOT</span><!-- logo for regular state and mobile devices -->
    </a>
    <nav class="navbar navbar-static-top"><!-- Header Navbar: style can be found in header.less -->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button"> <!-- Sidebar toggle button-->
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown notifications-menu"><!-- Notifications: style can be found in dropdown.less -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="label label-warning" id="zone_number_notify">0</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">Không có thông báo mới</li>
                        <li>
                            <ul class="menu"><!-- inner menu: contains the actual data -->
                                
                            </ul>
                        </li>
                        <li class="footer"><a href="#">Xem tất cả</a></li>
                    </ul>
                </li>
                <!-- User Account: style can be found in dropdown.less -->
                <% include user_login %>
                <li><!-- Control Sidebar Toggle Button -->
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
            </ul>   
        </div>
    </nav>
</header>