<li class="dropdown user user-menu">
    <!-- Menu Toggle Button -->
    <a class="dropdown-toggle" aria-expanded="false" href="#" data-toggle="dropdown">
        <!-- The user image in the navbar-->
        <img class="user-image" alt="User Image" src="./images/user.png">
        <!-- hidden-xs hides the username on small devices so only the image appears. -->
        <span class="hidden-xs"></span>
    </a>
    <ul class="dropdown-menu">
        <!-- The user image in the menu -->
        <li class="user-header">
        <img class="img-circle" alt="User Image" src="#">
        <p>
             
        </p>
        </li>
        <!-- Menu Body -->
        <li class="user-body">
        <div class="col-xs-12 text-center">
            <a href="#" id="btnChageMyPass"><i class="fa fa-exchange"></i> Đổi mật khẩu</a>
        </div>
        </li>
        <!-- Menu Footer-->
        <li class="user-footer">
        <div class="pull-left">
            <a class="btn btn-default btn-flat" id="btnProfile" href="#"><i class="fa fa-user-secret"></i> Hồ sơ cá nhân</a>
        </div>
        <div class="pull-right">
            <a class="btn btn-default btn-flat" href="#"><i class="fa fa-sign-out"></i> Thoát</a>
        </div>
        </li>
    </ul>
</li>